*~
*.swp
*.so
*.o
*.lo
*.la
*.elc
*.log

autom4te.cache
aclocal.m4
compile
config.*
configure
depcomp
.deps
.dirstamp
.libs
include/re-config.*
install-sh
Makefile
Makefile.in
missing
stamp*
libtool
ltmain.sh
m4/libtool.m4
m4/lt*
!test/Makefile.in
test/src/test-config.el
